.logo{
	float:left;
}
.description{
	height:100%;
  background-position: center;
  position: relative;
  background-size: cover;
	float:right;
}
.button{
 width:30%;
 height:10%;
}
.button hover{
 cursor:pointer;
 background-color:green;
}

.header{
	position: relative;
	margin-top: 10px;
	background-color: #1fc435;
 padding: 2px;
 overflow: hidden;
  color: white;
 font-size: 25px;
 font-weight: bold;
}
.header a {
  float: left;
  color: white;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
}

/* Change the background color on mouse-over */
.header a:hover {
  background-color: #ddd;
  color: black;
}


/* Style the active/current link*/
.header a.active {
  background-color: dodgerblue;
  color: white;
}

/* Float the link section to the right */
.header-right {
  float: right;
}

.header img {
   /* Gray border */
    border-radius: 4px;  /* Rounded border */
 padding-left:20px;/* Some padding */
    width: 50px; /* Set a small width */
}

/* Add a hover effect (blue shadow) */
.header img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align:center;
		width:50%;
		border-radius: 50%;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
